

body{
    padding-top: 80px;
}
.jumbotron {
    background-image: url('../images/jumbo-bg1.jpg');
}

.jumbotron h1{
    color: #FFF730;
}
.jumbotron .lead{
    color: #fff;
}
.jumbotron .btn-primary, #contacts .btn-primary{
    color:#fff;
    border: 1px solid #fff;
    background-color: #FF3B55;
}
.jumbotron hr {
    border-bottom: 1px solid #FF3B55;
}
.card .discounted{
   
    font-weight: bold;
    text-decoration: line-through;
}
.card .card-footer{
    background-color: #203139;
    opacity: .8;
}
.card-body{
    min-height: 400px;
}

#contacts {
    color: #FFF730;
    padding: 10px;
    background-image: url('../images/jumbo-bg1.jpg');
}

#contacts .btn-primary{
    color:#222;
    border: 1px solid #fff;
    background-color: #FFF730;
}

#contacts input,#contacts textarea{
       border-radius: 4px;
       
       padding: 5px;
   }
   #contacts #form{
        border-top-left-radius: 20px;
        background-color:  #FF3B55;
   }
   #contacts i {
       color: #FF3B55;
   }